<form action="">
    <div class="info_fields">
        <label for="">Name:</label>
        <input type="text">
    </div>
    <div class="info_fields">
        <label for="">Phon Number:</label>
        <input type="text">
    </div>
    <div class="info_fields">
        <label for="">District:</label>
        <select name="" id="">
            <option value="">Select an option</option>
            <option value="">Dhaka</option>
        </select>
    </div>

    <div class="info_fields" class="d-flex">
        <label for="" class="d-flex">Address:</label>
       <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>

</form>
